* {
  margin: 0;
  padding: 0;
}
body {
  /* 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  */
  background-color: #333;
  color: #ddd;
}

p {
  /* margin-bottom: 2rem; */
}

.nav-header {
  background-color: #aaa;
  padding: 1rem 0;
  min-height:fit-content;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 8rem;
  justify-content: space-around;
  width: 100%;
}
.nav-header > img {
  width: 5rem;
  position: absolute;
  top: 0.3rem;
  left:0.3rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 7;
  grid-template-rows: auto;
  box-sizing: border-box;

  padding: 4rem 0;

  width: 100%;
  height: fit-content;
}

.main-grid > content {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  flex-direction: column;

  column-gap: 2rem;
  margin-left: 3rem;

  line-height: 1.5rem;
}

.main-grid > content > *:not(:last-child) {
  margin-bottom: 1rem;
}


.main-grid > aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;

  margin: 0 3rem 2rem 2rem;

  line-height: 1.2rem;
}

.main-grid > aside > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-grid > .image-wrapper {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-right: 10%;
  /* box-sizing: border-box; */
}


.main-grid > header {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 4rem 3rem;
  color: #333;
}
.main-grid > header > div {
  width: 50%;
  margin-left: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  background-color: #aaa;
}

a {
  background-color: #aaa;
  color: #222;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
}

img {
  width: 100%;
  object-fit: contain;
}

.gallery {
  margin: 2rem auto;
  height: 600px;
  width: 800px;
  position: relative;
  box-sizing: border-box;
}

.gallery > img {
  width: auto;
  position: absolute;
  border: solid 0.5rem rgb(125 211 252);
}

.blue-fox-2 {
  left: 2rem;
  height: 70%;
}
.blue-fox-3 {
  bottom: 0;
  left: 36%;
  height: 55%;
  z-index: 1;
}
.blue-fox-4 {
  right: 2rem;
  top: 1.1rem;
}
