.space-x-0 > *:not(:first-child) { margin-left: 0; }
.space-y-0 > *:not(:first-child) { margin-top: 0; }
.space-x-0-5 > *:not(:first-child) { margin-left: 0.125rem; } /* 2px */
.space-y-0-5 > *:not(:first-child) { margin-top: 0.125rem; } /* 2px */
.space-x-1 > *:not(:first-child) { margin-left: 0.25rem; } /* 4px */
.space-y-1 > *:not(:first-child) { margin-top: 0.25rem; } /* 4px */
.space-x-1-5 > *:not(:first-child) { margin-left: 0.375rem; } /* 6px */
.space-y-1-5 > *:not(:first-child) { margin-top: 0.375rem; } /* 6px */
.space-x-2 > *:not(:first-child) { margin-left: 0.5rem; } /* 8px */
.space-y-2 > *:not(:first-child) { margin-top: 0.5rem; } /* 8px */
.space-x-2-5 > *:not(:first-child) { margin-left: 0.625rem; } /* 10px */
.space-y-2-5 > *:not(:first-child) { margin-top: 0.625rem; } /* 10px */
.space-x-3 > *:not(:first-child) { margin-left: 0.75rem; } /* 12px */
.space-y-3 > *:not(:first-child) { margin-top: 0.75rem; } /* 12px */
.space-x-3-5 > *:not(:first-child) { margin-left: 0.875rem; } /* 14px */
.space-y-3-5 > *:not(:first-child) { margin-top: 0.875rem; } /* 14px */
.space-x-4 > *:not(:first-child) { margin-left: 1rem; } /* 16px */
.space-y-4 > *:not(:first-child) { margin-top: 1rem; } /* 16px */
.space-x-5 > *:not(:first-child) { margin-left: 1.25rem; } /* 20px */
.space-y-5 > *:not(:first-child) { margin-top: 1.25rem; } /* 20px */
.space-x-6 > *:not(:first-child) { margin-left: 1.5rem; } /* 24px */
.space-y-6 > *:not(:first-child) { margin-top: 1.5rem; } /* 24px */
.space-x-7 > *:not(:first-child) { margin-left: 1.75rem; } /* 28px */
.space-y-7 > *:not(:first-child) { margin-top: 1.75rem; } /* 28px */
.space-x-8 > *:not(:first-child) { margin-left: 2rem; } /* 32px */
.space-y-8 > *:not(:first-child) { margin-top: 2rem; } /* 32px */
.space-x-9 > *:not(:first-child) { margin-left: 2.25rem; } /* 36px */
.space-y-9 > *:not(:first-child) { margin-top: 2.25rem; } /* 36px */
.space-x-10 > *:not(:first-child) { margin-left: 2.5rem; } /* 40px */
.space-y-10 > *:not(:first-child) { margin-top: 2.5rem; } /* 40px */
.space-x-11 > *:not(:first-child) { margin-left: 2.75rem; } /* 44px */
.space-y-11 > *:not(:first-child) { margin-top: 2.75rem; } /* 44px */
.space-x-12 > *:not(:first-child) { margin-left: 3rem; } /* 48px */
.space-y-12 > *:not(:first-child) { margin-top: 3rem; } /* 48px */
.space-x-14 > *:not(:first-child) { margin-left: 3.5rem; } /* 56px */
.space-y-14 > *:not(:first-child) { margin-top: 3.5rem; } /* 56px */
.space-x-16 > *:not(:first-child) { margin-left: 4rem; } /* 64px */
.space-y-16 > *:not(:first-child) { margin-top: 4rem; } /* 64px */
.space-x-20 > *:not(:first-child) { margin-left: 5rem; } /* 80px */
.space-y-20 > *:not(:first-child) { margin-top: 5rem; } /* 80px */
.space-x-24 > *:not(:first-child) { margin-left: 6rem; } /* 96px */
.space-y-24 > *:not(:first-child) { margin-top: 6rem; } /* 96px */
.space-x-28 > *:not(:first-child) { margin-left: 7rem; } /* 112px */
.space-y-28 > *:not(:first-child) { margin-top: 7rem; } /* 112px */
.space-x-32 > *:not(:first-child) { margin-left: 8rem; } /* 128px */
.space-y-32 > *:not(:first-child) { margin-top: 8rem; } /* 128px */
.space-x-36 > *:not(:first-child) { margin-left: 9rem; } /* 144px */
.space-y-36 > *:not(:first-child) { margin-top: 9rem; } /* 144px */
.space-x-40 > *:not(:first-child) { margin-left: 10rem; } /* 160px */
.space-y-40 > *:not(:first-child) { margin-top: 10rem; } /* 160px */
.space-x-44 > *:not(:first-child) { margin-left: 11rem; } /* 176px */
.space-y-44 > *:not(:first-child) { margin-top: 11rem; } /* 176px */
.space-x-48 > *:not(:first-child) { margin-left: 12rem; } /* 192px */
.space-y-48 > *:not(:first-child) { margin-top: 12rem; } /* 192px */
.space-x-52 > *:not(:first-child) { margin-left: 13rem; } /* 208px */
.space-y-52 > *:not(:first-child) { margin-top: 13rem; } /* 208px */
.space-x-56 > *:not(:first-child) { margin-left: 14rem; } /* 224px */
.space-y-56 > *:not(:first-child) { margin-top: 14rem; } /* 224px */
.space-x-60 > *:not(:first-child) { margin-left: 15rem; } /* 240px */
.space-y-60 > *:not(:first-child) { margin-top: 15rem; } /* 240px */
.space-x-64 > *:not(:first-child) { margin-left: 16rem; } /* 256px */
.space-y-64 > *:not(:first-child) { margin-top: 16rem; } /* 256px */
.space-x-72 > *:not(:first-child) { margin-left: 18rem; } /* 288px */
.space-y-72 > *:not(:first-child) { margin-top: 18rem; } /* 288px */
.space-x-80 > *:not(:first-child) { margin-left: 20rem; } /* 320px */
.space-y-80 > *:not(:first-child) { margin-top: 20rem; } /* 320px */
.space-x-96 > *:not(:first-child) { margin-left: 24rem; } /* 384px */
.space-y-96 > *:not(:first-child) { margin-top: 24rem; } /* 384px */
.space-x-px > *:not(:first-child) { margin-left: 1px; }
.space-y-px > *:not(:first-child) { margin-top: 1px; }
.space-y-reverse > *:not(:first-child) { --tw-space-y-reverse: 1; }
.space-x-reverse > *:not(:first-child) { --tw-space-x-reverse: 1; }
